<script src="../vue.js"></script>
<!-- Based on v component in English document -->

<!-- Basic example && data must be a function -->
<div id="b-counter1">
  <button-counter></button-counter>
</div>

<!-- reusing components -->
<div id="b-counter2">
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>


<!-- Passing data to child components with props -->
<!-- The v instance is considered as 'parent' -->
<div id="props-demo">
<blog-post title="My journey with v"></blog-post>
<blog-post title="Blogging with v"></blog-post>
<blog-post title="Why v is so fun"></blog-post>
</div>

<!-- Passing data dynamically (e.g.from an api call) -->
<div id="blog-post-demo">
<blog-post
  v-for="post in posts"
  v-bind:key="post.id"
  v-bind:title="post.title"
></blog-post>
</div>

<!-- A single root element -->
<div id="single-root">
<!-- Q? The expected effect as shown in the guide didn't come out -->
<!-- <div class="blog-post"> -->
<h3>{{ post.title }}</h3>
<div v-html="post.content"></div>
</div>


<!-- Sending Messages to Parents with Events -->
<div id="blog-posts-events-demo">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <b-post
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
	  v-on:enlarge-text="postFontSize += 0.1"
    ></b-post>
  </div>
</div>

<!-- Emitting a Value With an Event -->
<div id="blog-posts-events-demo2">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <b-post2
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
	  v-on:enlarge-text="postFontSize += $event"	 
    ></b-post2>
	 <!-- v-on:enlarge-text="onEnlargeText" -->
  </div>
</div>

<!-- Using v-model on Components -->
<!-- Q? A little confusing... -->
<div id="custom-inputs">
<custom-input v-model="searchText"></custom-input>
</div>

<!-- Content Distribution with Slots -->
<div id="content-slot">
<alert-box>
  Something bad happened.
</alert-box>
</div>

<!-- Dynamic Components -->
<div id="dynamic-component-demo" class="demo">
  <button
    v-for="tab in tabs"
    v-bind:key="tab"
    v-bind:class="['tab-button', { active: currentTab === tab }]"
    v-on:click="currentTab = tab"
  >{{ tab }}</button>

  <component
    v-bind:is="currentTabComponent"
    class="tab"
  ></component>
</div>

<!-- DOM Template Parsing Caveats -->
<div id="app2">
	<table>
		<!-- <my-row></my-row> -->
		<tr is="my-row"></tr>
	</table>
</div>

<link rel="stylesheet" type="text/css" href="component2.css">
<script src="component2.js"></script>