<script src="../vue.js"></script>

<div id="app1">
  <my-component></my-component>
</div>

</br>
<span>DOM Template Parsing Caveats</span>
<div id="app2">
	<table>
		<!-- <my-row></my-row> -->
		<tr is="my-row"></tr>
	</table>
</div>

</br>
<div id="app3">
  <simple-counter></simple-counter>
  <simple-counter></simple-counter>
  <simple-counter></simple-counter>
</div>

</br>
<span>Passing Data to Child Components with Props</span>
<div id="app4">
	<!-- <child myMessage="hello!"></child> //Wrong! HTML attributes are case-insensitive  -->
	<child my-message="hello!"></child>
</div>
<script src="component.js"></script>